<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Page</title>
    <link rel="stylesheet" href='../static/css/styles.css'>
</head>
<body>
    <header>
        <h1>Mock Interview</h1>
    </header>
    <main>
        <div id = "question_box">
            <div id = 'question'></div>
        </div>
        <button id="getTextButton">Submit</button>
        <div id="editor"></div>
    </main>
    <footer>
        <p>&copy; 2024 Mock SWE Interviewer</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs/loader.min.js"></script>
    <script>
        require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs' }});
        require(['vs/editor/editor.main'], function() {
            monaco.editor.create(document.getElementById('editor'), {
                value: [
                ].join('\n'),
                language: 'python',
                theme: 'vs-dark'
            });
        });
        /// Gets the text from the texteditor 
        document.getElementById('getTextButton').addEventListener('click', function() {
            var editor = monaco.editor.getModels()[0];
            var code = editor.getValue();
            console.log(code);

            });
    </script>
    
    <script>

            
        var question_source = new EventSource('/question');
        var total_questions = '' 
        question_source.onmessage = function(event) { 
            total_questions += event.data; 
            document.getElementById('question').innerHTML = total_questions;
        };

 
    </script>
</body>
</html>